<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resultados del Host</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body style="background-color: #000000; color: #ffffff;">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Resultados del Host para <%= url %></h1>
        <div class="card mb-3" style="background-color: #000000; color: #ffffff;">
            <div class="card-header" style="background-color: #000000; color: #ffffff;">Resultados</div>
            <div class="card-body" style="background-color: #000000; color: #ffffff;">
                <% hosts.forEach(function(host) { %>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <p><strong>IP:</strong> <%= host.ip %></p>
                            <p><strong>Tipo:</strong> <%= host.type %></p>
                            <p><strong>ISP:</strong> <%= host.isp_name %> (<a href="<%= host.isp_url %>" target="_blank" class="text-info">Más información</a>)</p>
                        </div>
                        <button class="btn btn-primary risk" data-risk="<%= host.riesgo %>" data-url="<%= url %>">Riesgo: <%= host.riesgo %></button>
                    </div>
                    <hr class="bg-light">
                <% }) %>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/index" class="btn btn-primary">Volver a la Búsqueda</a>
            <a href="/host/reporte" class="btn btn-secondary">Descargar Reporte PDF</a>
        </div>
    </div>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>
